################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/.vs/Jobbvin/FileContentIndex/05202dca-6bcc-4660-8012-80151eb979f0.vsidx
/.vs/Jobbvin/FileContentIndex/5907b3df-5f8b-4e68-a68f-154e8dec70be.vsidx
/.vs/Jobbvin/FileContentIndex/acb4a418-e57d-46c1-9224-af1e86b4338f.vsidx
/.vs/Jobbvin/FileContentIndex/b92cb2cc-79da-4fb7-b6bb-ca2e19ea7eab.vsidx
/.vs/Jobbvin/FileContentIndex/e33275fe-55e9-4704-8ea3-5d861974b5c2.vsidx
/.vs/Jobbvin/FileContentIndex/e9b5400b-7370-4063-a195-cfca2d5635da.vsidx
/.vs/Jobbvin/v17/.futdcache.v2
/.vs/Jobbvin/v17/.suo
/.vs/Jobbvin/v17/HierarchyCache.v1.txt
**/bin/Debug/
**/bin/Release/
**/obj/
