################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*/.vs/Jobbvin/
/.vs/Jobbvin/FileContentIndex/05202dca-6bcc-4660-8012-80151eb979f0.vsidx
/.vs/Jobbvin/FileContentIndex/5907b3df-5f8b-4e68-a68f-154e8dec70be.vsidx
/.vs/Jobbvin/FileContentIndex/acb4a418-e57d-46c1-9224-af1e86b4338f.vsidx
/.vs/Jobbvin/FileContentIndex/b92cb2cc-79da-4fb7-b6bb-ca2e19ea7eab.vsidx
/.vs/Jobbvin/FileContentIndex/e33275fe-55e9-4704-8ea3-5d861974b5c2.vsidx
/.vs/Jobbvin/FileContentIndex/e9b5400b-7370-4063-a195-cfca2d5635da.vsidx
/.vs/Jobbvin/v17/.futdcache.v2
/.vs/Jobbvin/v17/.suo
/.vs/Jobbvin/v17/HierarchyCache.v1.txt
**/bin/Debug/
**/bin/Release/
**/obj/
/.vs/Jobbvin/FileContentIndex/2636ccdc-9b61-4164-88be-211450e0f956.vsidx
/.vs/Jobbvin/FileContentIndex/52c17b44-2b36-4296-9d11-0e920d7097a6.vsidx
/.vs/Jobbvin/FileContentIndex/714af065-16e8-4828-aa5c-b454236eee43.vsidx
/.vs/Jobbvin/FileContentIndex/81ad0fef-1f0f-464b-ad03-10b4f543e0b9.vsidx
/.vs/Jobbvin/FileContentIndex/e2457c6f-19eb-478f-a920-4687781fab06.vsidx
/Client/obj/Release/net6.0/Jobbvin.Client.assets.cache
/Client/obj/Release/net6.0/Jobbvin.Client.csproj.AssemblyReference.cache
/Client/obj/Release/net6.0/Jobbvin.Client.GeneratedMSBuildEditorConfig.editorconfig
/Client/Properties/PublishProfiles/FolderProfile.pubxml
/Client/Properties/PublishProfiles/FolderProfile.pubxml.user
/Server/obj/Release/net6.0/Jobbvin.Server.assets.cache
/Server/obj/Release/net6.0/Jobbvin.Server.csproj.AssemblyReference.cache
/Server/obj/Release/net6.0/Jobbvin.Server.GeneratedMSBuildEditorConfig.editorconfig

/Client/obj/Release/net6.0/Jobbvin.Client.assets.cache
/Client/obj/Release/net6.0/Jobbvin.Client.csproj.AssemblyReference.cache
/Client/obj/Release/net6.0/Jobbvin.Client.GeneratedMSBuildEditorConfig.editorconfig
/Server/obj/Release/net6.0/Jobbvin.Server.assets.cache
/Server/obj/Release/net6.0/Jobbvin.Server.csproj.AssemblyReference.cache
/Server/obj/Release/net6.0/Jobbvin.Server.GeneratedMSBuildEditorConfig.editorconfig
*.user
**/Server/obj
**/Client/obj
