@page "/"
@using Jobbvin.Client.Constants;
@using Microsoft.AspNetCore.Authorization;
@using BlazorBootstrap;

<PageTitle>Index</PageTitle>

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
       
         <Accordion>
            @if (pic_categories_ViewModels != null && pic_categories_ViewModels.Count > 0)
            {
                @foreach (var category in pic_categories_ViewModels)
                {
                    var imagePath = Common.MenuImageUrl + category.Maincategory.categories_image;

                    <AccordionItem >
                        <TitleTemplate>
                            <img width="25" height="25" class="me-2" src="@imagePath"> @category.Maincategory.categories_name
                        </TitleTemplate>
                        <Content>

                            <div class="row g-4">
                                <CascadingValue Value="@category.SubCategories" Name="pic_Categories">
                                    <Jobbvin.Client.Components.Categories/>
                                </CascadingValue>
                            </div>
                        </Content> 
                    </AccordionItem>
                }
            }
         </Accordion>
        
    </div>
</div>

