@page "/JobListing"
@using Microsoft.AspNetCore.Authorization;
@using BlazorBootstrap;
@inject NavigationManager navigationManager;
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>

        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <h6 class="mt-n1 mb-0">Featured</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <h6 class="mt-n1 mb-0">Full Time</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <h6 class="mt-n1 mb-0">Part Time</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    @if(ProductListViewModels!=null && ProductListViewModels.Count > 0)
                    {
                        @foreach (var item in ProductListViewModels)
                        {
                            <a href="/ProductDetails?adId=@item.pic_ads_id">
                            <CascadingValue Value="@item" Name="Item">
                                            <Jobbvin.Client.Components.ProductView />
                            </CascadingValue>
                            </a>
                        }
                    }
                    else
                    {
                        <div>@loadingText</div>
                    }
                </div>
                <a class="btn btn-primary py-3 px-5" href="" @onclick:preventDefault @onclick="@BrowseMore">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Browse More Jobs
                </a>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-outline-success back-to-top"><i class="fa fa-eye">@ProductListViewModels.Count</i></a>

<style>
    a {
        color: #5F9EA0;
        text-decoration: none !important;
    }

</style>