
.loader {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

.loader-overlay {
    background: none repeat scroll 0 0 black;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 1000001;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lbl-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}