@if (IsVisible)
{
    <div class="loader">
        @* <img width="75" height="75" src="/images/KBR_BW_Globe.gif" class="imgcenter" /> *@
        <label class="lbl-center text-white">Loading</label>
    </div>
    <div class="loader-overlay"></div>
}
