@using Jobbvin.Client.Services;
@using Jobbvin.Shared.Models;
@inject NavigationManager Navigation

@if (AuthenticationService.User != null)
{
       

    <div class="nav-item dropdown">
        <span class="fa fa-2x fa-user-tie text-primary mb-4" style="margin-top: 14px;margin-right: 5px;"></span> <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@AuthenticationService.User.user_username</a>
        <div class="dropdown-menu rounded-0 m-0">
            <a href="profile" class="dropdown-item">Menu</a>
            <a href="logout" class="dropdown-item">Logout</a>
        </div>
    </div>

  }
   else{
    <a href="login" class="nav-item nav-link">Login</a>
    }

@code {
    private bool isUserModalVisible { get; set; } = false;
    private string UserId { get; set; }
    private string display { get; set; } = "none";
    private pic_user _user { get; set; }


    [Inject]
    public IAuthenticationService AuthenticationService { get; set; }

    private async Task BeginLogout()
    {
        //         await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("login");
    }
    private void ResetPassword(MouseEventArgs args)
    {

    }

    protected override void OnInitialized()
    {
        _user = AuthenticationService.User;
    }
    private void UserProfile(MouseEventArgs args)
    {
        if (isUserModalVisible)
        {
            display = "none";
            isUserModalVisible = false;
        }
        else
        {
            isUserModalVisible = true;
            display = "block";
        }
    }
}

<style>

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .cursor {
        cursor: default !important;
    }

    .k-dialog-titlebar
    {
        background-color:transparent !important;
    }

  .k-window-titlebar {
        border-style:none !important;
  }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 8px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-item:hover {
        background-color: lightgray;
    }

    .borderclass {
        border: 1px solid #00205C;
        border-radius: 4px;
    }

      .detail-text {
        font-weight: bold;
        color: #42516E;
        font-size: 14px;
    }


    .detail-location {
        margin-bottom: 5px;
        margin-left: 6px;
        color: #041F5A;
    }

      .k-toolbar {
        border-color: transparent !important;
        color: #424242 !important;
        background-color: transparent !important;
        border-style:none !important;
    }

    
    .horizontal-separator {
        display: inline-block;
        width: 100%;
    }

        .horizontal-separator::before {
            position: absolute;
            width: 80%;
            height: 100%;
            border-top:1px solid #DFDFDF;
            content: " ";
        }
</style>